*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  margin: 0 auto;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

.component {
  background: hsl(204, 43%, 93%);
  padding-bottom: 76px;
}

.container {
  width: 83%;
  margin: 0 auto;
}

.title,
.copy,
.list__link {
  margin: 0;
  margin-left: 24px;
  width: 90%;
  color: rgb(255, 255, 255);
}

/* start article - component */
.component__content {
  min-width: 375px;
  margin: 0 auto;
}

.container {
  padding-top: 72px;
}

.copy {
  font-size: .875rem;
  letter-spacing: -.35px;

}

/* start article - join */
.join {
  background: rgb(255, 255, 255);
  border-radius: 5px 5px 0 0;
}

.join__title {
  font-size: 1.3125rem;
  ;
  color: hsl(179, 62%, 43%);
  padding-top: 27px;
  margin-left: 23px;
  margin-bottom: 0;
  letter-spacing: -.7px;
}

.join__copy {
  margin-top: 19px;
  line-height: 1.85;
  letter-spacing: -.2px;
  padding-bottom: 31px;
  color: hsl(218, 22%, 67%);
}

.join__copy-highlight {
  color: hsl(71, 73%, 54%);
  font-size: 1rem;
  margin-top: 24px;
  line-height: initial;
  letter-spacing: -.7px;
  padding: 0;
  font-weight: 700;
}

/* end article - join */
/* start article - subscription */
.subscription {
  background: rgb(42, 178, 175);
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.subscription__title {
  color: rgb(255, 255, 255);
  padding-top: 24px;
  font-size: 1.125rem;
  letter-spacing: -.2px;
}

.subscription__copy {
  margin-top: 6px;
  letter-spacing: .7px;
}

.subscription__copy--price {
  margin-top: 17px;
  letter-spacing: .6px;
}

.subscription__copy--price strong {
  font-size: 2rem;
  margin-right: 8px;
  margin-bottom: 3px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: initial;
}

.subscription__button {
  align-self: center;
  margin-top: 29px;
  padding: 16px 102px;
  font-size: .875rem;
  letter-spacing: 1px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background: hsl(71, 73%, 54%);
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 9px 0 rgba(0,0,0,.1);
  text-shadow: 0px 0px 10px rgb(121, 141, 32);
}

/* end article - subscription */
/* start article - why us */
.why-us {
  background: rgba(42, 178, 175, .6);
  padding-bottom: 23px;
  border-radius: 0 0 5px 5px;
}

.why-us__title {
  padding-top: 23px;
  font-size: 1.25rem;
  letter-spacing: -1.5px;
}

.why-us__list {
  list-style: none;
  margin: 18px 0 0 0;
  padding: 0;
}

.list__item {
  font-size: .875rem;
  letter-spacing: -.2px;
  margin-bottom: 3px;
}

.list__link {
  text-decoration: none;
}

/* end article - why us */

/* end article - component */

.attribution {
  font-size: .8rem;
  text-align: center;
  margin: 0 auto;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    max-width: 635px;
    padding-top: 162px;
  }

  .join {
    flex: 0 1 100%;
    padding-bottom: 10px;
  }

  .subscription,
  .why-us {
    flex: 0 1 50%;
  }

  .component__content {
    max-width: 1440px;
  }

  /* start article - component */
  .component {
    padding-bottom: 162px;
  }

  /* start article join */


  .title,
  .copy,
  .list__link {
    margin-left: 40px;
  }

  .join__title {
    padding-top: 42px;
    font-size: 1.4375rem;
    letter-spacing: .15px;
  }

  .join__copy {
    margin-top: 9px;
    font-size: 1.0625rem;
    line-height: 1.5;
    width: 89%;
    letter-spacing: -.65px;
  }

  .join__copy-highlight {
    font-size: 1.125rem;
    letter-spacing: -.25px;
    margin-top: 24px;
    line-height: initial;
    width: initial;
  }

  /* end article join */
  /* start article subscription */
  .subscription {
    padding-bottom: 39px;
    border-bottom-left-radius: 5px;
  }

  .subscription__title {
    margin-top: 17px;
  }

  .subscription__button {
    padding: 16px 89px;
  }

  .subscription__button:hover {
    background: rgba(223, 52, 192,.7);
  }

  /* end article subscription */
  /* start article why us */
  .why-us {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
  }

  .why-us__title {
    margin-top: 18px;
  }

  /* end article why us */

  /* end article component */
  /* start footer */
  .page__footer .container {
    padding-top: 10px;
  }
/* end footer */
}